@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Strike&family=Rubik+Mono+One&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Protest+Strike&family=Rubik+Mono+One&family=Scada:ital,wght@0,400;0,700;1,400;1,700&family=Space+Grotesk:wght@300..700&display=swap');
@font-face {
    font-family: "Comic_Sans";
    src: url(fonts/Comic_Sans_MS.ttf);
}

.background-selected::selection, .background-selected span::selection, .background-selected b::selection {
    color: #000000;
    background-color: rgb(96, 236, 255);
}
/* b::selection {
    color: #fff !important;
    background-color: #000 !important;
} */


*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: rgb(20, 20, 20);
    background: radial-gradient(circle, rgb(4, 73, 50) 0%, rgba(34, 60, 53, 1) 10%, rgb(20, 20, 20) 100%);

    background-size: contain;
    background-repeat: no-repeat;
}

header .logo {
    height: 4vw;
    margin: 1% 2%;
}

.main-page {
    display: flex;
    flex-direction: column;
}

.main-page main {
    height: 60vh;
}

.main-page .slider {
    position: relative;

    display: flex;
    align-items: center;

    margin: 0 auto;

    width: 1252px;
}

.main-page .slide {
    /* position: absolute; */

    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-gap: 1em;
    justify-content: space-between;

    height: max-content;

    padding: 2% 2% 2% 6%;
    color: white;
    border-radius: 45px;
    border: 1px solid white;
    background-color: #00000080;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
.main-page .slide:hover {
    transform: translate(16px, 8px);
    box-shadow: -16px -16px #fff;
}

.slick-slide {
    margin: 20px;
}

.slick-dots {
    position: absolute;
    width: min-content;
    right: -60px;
    list-style: none;
    margin-left: 20px;
    
}

.slick-dots li button {
    width: 50px;
    height: 50px;
    margin: 2px 0;

    border-radius: 45px;
    border: 1px solid white;
    background-color: #00000080;
    transition: .4s;
}
.slick-dots li.slick-active button {
    border: 1px solid #00000080;
    background-color: #ffffff;
}

.main-page .slide .slider-text {
    align-self: center;

    height: max-content;
    text-align: start;
    font-size: 1.3vw;
    font-family: "Geologica";

    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

.main-page .slide .slider-text b {
    font-weight: 600;
    color: #000000;
    line-height: 1.8;
    border-radius: 5px;
    padding: 2px 5px 5px;
    background-color: #fff;
}

.main-page .slide img {
    width: 100%;
    border-radius: 45px;
}

.main-page footer .start-quest {
    margin-top: 3%;
    padding: 2.5vh 4vw;

    color: #ffffff;

    font-size: 2vw;
    font-family: "Rubik Mono One";

    align-self: center;
    border-radius: 45px;
    border: .1px solid white;
    background-color: #00000080;

    transition: .5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.main-page footer .start-quest:hover {
    color: #000000;
    background-color: #ffffff;
}

.main-page footer {
    display: flex;
    justify-content: center;
}